*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
Electronic Program for Research Initiative Submission Management FINALIZED (2).docx
MODULE 1.docx
MODULE 2.docx
MODULE 3.docx
MODULE 4.docx
MODULE 5.docx
